---
interface Props {
  title: string;
  style?: string;
}
import "@/styles/global.css";
import { Image } from "astro:assets";

const { title, style } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Void Studio - a software development and design agency"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={Astro.url} />
    <!-- Primary Meta Tags -->
    <title>Void Studio</title>
    <meta name="title" content="Void Studio" />
    <meta
      name="description"
      content="Void Studio - a software development and design agency"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.voidstudio.tech/" />
    <meta property="og:title" content="Void Studio" />
    <meta
      property="og:description"
      content="Void Studio - a software development and design agency"
    />
    <meta
      property="og:image"
      content="https://www.voidstudio.tech/banner.webp"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.voidstudio.tech/" />
    <meta property="twitter:title" content="Void Studio" />
    <meta
      property="twitter:description"
      content="Void Studio - a software development and design agency"
    />
    <meta
      property="twitter:image"
      content="https://www.voidstudio.tech/banner.webp"
    />

    <!-- Meta Tags Generated with https://metatags.io -->
    <script
      defer
      data-domain="voidstudio.tech"
      data-api="/plausible/api/event"
      src="/plausible/js/script.js"></script>
    <title>{title}</title>
  </head>
  <body class="overflow-x-hidden relative bg-fixed bg-no-repeat" style={style}>
    <nav
      class="fixed top-8 md:top-16 lg:top-24 right-8 md:right-16 flex-col items-end z-50 bg-paperwhite p-3 hidden lg:flex"
    >
      {
        [
          { title: "What", href: "what" },
          { title: "Expertise", href: "exp" },
          { title: "Our Offerings", href: "offers" },
          { title: "Why", href: "why" },
          { title: "How", href: "how" },
          { title: "Get Started Now", href: "contact" },
        ].map((item) => (
          <a
            href={`#${item.href}`}
            class="font-semibold text-[18px] link-underline"
          >
            {item.title}
          </a>
        ))
      }
    </nav>

    <a
      href="#hero"
      class="fixed top-8 md:top-16 lg:top-24 left-8 md:left-16 z-50"
    >
      <Image
        src="/favicon.svg"
        alt="Logo of Void Studio"
        height={120}
        width={120}
        class="h-[60px] w-[60px] lg:h-[80px] lg:w-[80px] xl:h-[120px] xl:w-[120px]"
      />
    </a>

    <slot />
  </body>
</html>
